@import "styles/breakpoints";

.sobreNos {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    &__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: $mobile) {
        font-size: 0.8rem;
      }
      font-size: 1.0rem;
      font-weight: bold;
      text-align: justify;
  p {
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  }
  .imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    &__imagem {
      @media (max-width: $mobile) {
        width: 100%;
      }
      @media (max-width: $desktop_md) {
        width: 60%;
      }
      width: 400px;
      img {
        border-radius: 5px;
        width: 100%;
      }
    }
  }
  .imagemCasa{
    margin: auto;
    display: block;
  }